@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5c30a;
}

img {
  display: block;
  width: 100%;
}
 .img-flex {
   display: flex;
   flex-wrap: wrap;
    max-width: 45em;
 }

 section h2 {
  font-size: 1.5rem;
 }

 section p {

 }


@media only screen and (min-width: 20em) {

  .img-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .section-body {
    margin: 1.4rem;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

}

@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }


}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }


}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
